{"nbformat":4,"nbformat_minor":0,"metadata":{"colab":{"provenance":[],"authorship_tag":"ABX9TyOgr00S48LlBpsPwA5yguBz"},"kernelspec":{"name":"python3","display_name":"Python 3"},"language_info":{"name":"python"}},"cells":[{"cell_type":"code","source":["fastapi\n","uvicorn"],"metadata":{"id":"tp1Air8pJan8"},"execution_count":null,"outputs":[]}]}